on fs
    # Somehow AOSP build system hasn't provided a symlink here
    symlink /system_root/system /system
    symlink /system/etc /etc
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice/by-name /dev/block/by-name
    setprop sys.usb.ffs.aio_compat 1

    write /sys/devices/platform/odm/odm:oppo_charger/power_supply/usb/otg_switch 1
    export ANDROID_ROOT /system_root
    
on property:ro.mtk_emmc_support=1
    # Support A/B feature for emmc boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on property:ro.mtk_ufs_booting=1
    # Support A/B feature for ufs boot region
    symlink /dev/block/sda /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/sdb /dev/block/platform/bootdevice/by-name/preloader_b

